<!-- 
    PROPERTY BIND
    ()   -> HTML chama uma função/variável no arquivo TS
    []   -> TS e enviar para o arquivo HTML
    [()] ->
-->

<!-- DIRETIVAS -->

<!-- IF -->
<button (click)="visibilidadeTexto()">Clique aqui</button>
<p *ngIf="exibirTexto">Aprendendo a trabalhar com o ngIF</p>

<!-- TEMPLATE -->
<ng-template [ngIf]="exibirTexto">
    <p>Texto dentro do template...</p>
</ng-template>

<!-- FOR -->
<ul *ngFor="let nome of nomes">
    <li>{{nome}}</li>
</ul>

<!-- SWITCH -->
<select [(ngModel)]="linguagem">
    <option value="">Selecionar uma linguagem</option>
    <option value="C#">C#</option>
    <option value="Java">Java</option>
    <option value="React">React</option>
    <option value="Angular">Angular</option>
</select>

<ul [ngSwitch]="linguagem">
    <li *ngSwitchCase="'C#'">C# - Microsoft</li>
    <li *ngSwitchCase="'Java'">Java - Oracle</li>
    <li *ngSwitchCase="'React'">React - Lib Facebook</li>
    <li *ngSwitchCase="'Angular'">Angular - Framework Google</li>
    <li *ngSwitchCase="''">Informe uma linguagem</li>
</ul>